@use "../../../styles/variables" as *;

.burgerStyling {
  display: block;

  @media (min-width: 1200px) {
    display: none;
  }

  .barStyling {
    display: block;
    margin: 4px 2px;
    width: 20px;
    height: 8px;
    border-radius: 8px;
    background: $gray-color;
  }
}
