@use "../../styles/variables" as *;
@use "../../styles/placeholders";

.heroStyling {
  display: block;
  width: 100vw;
  height: 25vh;
  background-image: url("./Banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  h2,
  h3 {
    margin: 0;
    text-align: center;
    font-size: 30px;
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    color: $gray-color;
    @extend %headerFont;
  }
}
