@use "../../../styles/mixins" as m;
@use "../../../styles/variables" as *;
@use "../../../styles/placeholders";

.formStyling {
  form {
    @include m.flexBox(column, center, center, 1rem);

    label {
      align-self: flex-start;
    }

    input {
      @extend %formInput;
    }

    .payButton {
      @extend %submitInput;
      position: absolute;
      bottom: -120%;
    }
  }
}
