@use "../../styles/mixins" as m;
@use "../../styles/placeholders";

.wrapperStyling {
  @include m.flexBox(column, center, center, 1rem);
  margin-bottom: 1rem;

  &.iconWrapper {
    @media (min-width: 720px) {
      flex-direction: row;
      justify-content: flex-end;
      align-items: flex-end;
      margin: 0;
      margin-top: 1rem;
    }
  }

  &.productWrapper {
    margin-top: 2rem;
  }

  &.checkoutStyling {
    margin-top: 3rem;
  }

  &.loginWrapper {
    @media (min-width: 1200px) {
      margin: 9rem 0rem;
    }
  }

  &.checkoutWrapper {

    margin-top: 3.5rem;

    @media (min-width: 720px) {
      margin: 2rem 0rem;
      flex-direction: row;
      justify-content: center;
      gap: 6rem;
    }

    @media (min-width: 1200px) {
      margin: 4rem 0rem;
      flex-direction: row;
      justify-content: center;
      gap: 12rem;
      padding: 0rem 9rem;
    }

    .checkoutContainer {
      background: red;
    }
  }

  &.cookiePolicy {
    margin-top: 3rem;
    padding: 1rem 1rem;
    @extend %breadtextFont;
  }
}
