@use "../../styles/mixins" as m;
@use "../../styles/placeholders";

.wrapperStyling {
  @include m.flexBox(column, center, center, 1rem);
  margin-bottom: 1rem;

  &.iconWrapper {
    @media (min-width: 1200px) {
      flex-direction: row;
      justify-content: flex-end;
      align-items: flex-end;
      margin: 0;
      margin-top: 1rem;
    }
  }

  &.productWrapper {
    margin-top: 2rem;
  }

  &.checkoutStyling {
    margin-top: 3rem;
  }

  &.cookiePolicy {
    margin-top: 3rem;
    padding: 1rem 1rem;
    @extend %breadtextFont;
  }
}
