.iconStyling {
  display: block;
  width: 3rem;
  cursor: pointer;

  &:hover {
    scale: 1.1;
  }

  &.hideIcons {
    display: none;

    @media (min-width: 720px) {
      display: block;
    }
  }
}
