@use "../../../styles/variables" as *;

.circleStyling {
  display: block;
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: 24%;
  left: 40%;
  // margin-left: 39%;
  // margin-top: -3rem;
  border-radius: 50%;
  background: $dark-color;
  z-index: 99;

  @media (min-width: 720px) {
    top: 4.3%;
    left: 46%;
    width: 6rem;
    height: 6rem;
  }

  @media (min-width: 1200px) {
    top: 8.4%;
    left: 46.5%;
    width: 7.3rem;
    height: 7.3rem;
  }

  @media (min-width: 1400px) {
    top: 7%;
  }

  &.openStyling {
    top: 44.8%;
  }

  img {
    width: 2.5rem;
    position: relative;
    top: 60%;
    left: 50.5%;
    transform: translate(-50%, -50%);

    @media (min-width: 720px) {
      width: 3.5rem;
      top: 57%;
    }
  }
}
