@use "../../styles/mixins" as m;
@use "../../styles/variables" as *;
@use "../../styles/placeholders";
@use "../../styles/animations";

.overlayStyling {
    display: block;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    background: #1d1d1d55;
    z-index: 99;

    @media (min-width: 1200px) {
        width: 98vw;
    }
}

.hideOverlay {
    display: none;
}

.cartStyling {
    animation: shoppingCart 0.3s forwards linear;
    display: block;
    height: 100vh;
    width: 12rem;
    background: $gray-color;
    @extend %breadtextFont;
    top: 0;
    position: fixed;
    right: 0;
    z-index: 999;

    @media (min-width: 1200px) {
        width: 25vw;
    }

    p {
        text-align: center;
    }

    .productStyling {
        @include m.flexBox(column, center, center, 0.5rem);
        @media (min-width: 1200px) {
            margin-top: 3rem;
        }

        .product {
            @include m.flexBox(row, center, center, 0.4rem);
            padding-right: 1rem;

            @media (min-width: 1200px) {
                padding-left: 0rem;
                gap: 3rem;
            }
        }

        .productLine {
            display: block;
            width: 36vw;
            height: 0.1rem;
            background: #00000099;

            @media (min-width: 1200px) {
                width: 17vw;
            }
        }
    }

    .priceContainer {
        margin-top: 1rem;
        padding-left: 3rem;
        @include m.flexBox(column, center, flex-start, 0.5rem);

        @media (min-width: 1200px) {
            padding-left: 0rem;
            margin-top: 1.5rem;
        }
    }

    button {
        margin: 0.5rem 0rem 0rem 0.4rem;
        font-size: 20px;
    }

    span {
        @include m.flexBox(row, center, center, 0.5rem);
        padding: 0rem 1rem;

        .amountContainer {
            @include m.flexBox(row, center, center, 0.2rem);

            button {
                padding-bottom: 0.6rem;
            }

            p {
                border: 1px solid $dark-color;
                padding: 0.1rem 0.2rem;
            }
        }
    }

    .checkoutStyling {
        @include m.flexBox(column, center, center, 0.5rem);

        @media (min-width: 1200px) {
            flex-direction: row;
            gap: 17.5rem;

            &.taxCheckout {
                gap: 15.8rem;
            }
        }

        p {
            margin: 0;
        }
    }

    .checkoutContainer {
        margin-top: 1.5rem;
        @include m.flexBox(column, center, center, 1rem);

        p {
            margin: 0;
        }

        button {
            background: $dark-brown-color;
        }

        div {
            @media (min-width: 1200px) {
                margin-top: 2rem;
                @include m.flexBox(row, space-between, center, 9rem);
            }

            button {
                margin-bottom: 0.6rem;
                background: $dark-color;
            }
        }
    }
}

.hideCart {
    display: none;
}