@use "../../styles/mixins" as m;
@use "../../styles/variables" as *;
@use "../../styles/placeholders";

.headerStyling {
  @include m.flexBox(column, center, center, 1rem);
  background: $dark-color;
  padding-bottom: 1.2rem;

  h1 {
    color: $gray-color;
    @extend %headerFont;
    margin-bottom: 0;
  }
}
