@use "../../styles/mixins" as m;
@use "../../styles/variables" as *;
@use "../../styles/placeholders";

.showcaseStyling {
    @include m.flexBox(column, center, center, 1rem);

    @media (min-width: 1200px) {
        flex-direction: row;
    }

    figure {
        @media (min-width: 1200px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            max-width: 500px;
            
            &:nth-child(2) {
                img {
                    max-height: 251px;
                    height: 251px;
                }
            }
        }

        @media (min-width: 1400px) {
            &:nth-child(3) {
                img {
                    margin-top: 1rem
                }
            }
        }

        h3 {
            @extend %headerFont;
            text-align: center;
            font-size: 40px;
            margin: 0;
        }

        p {
            @extend %breadtextFont;
            text-align: center;
        }

        img {
            width: 100%;
            margin-top: auto;
            object-fit: cover;

            @media (min-width: 1200px) {
                max-height: 250px;
            }
        }
    }
}